# Model Router Configuration
MODEL_ROUTER_URL=http://127.0.0.1:8000

# Redis - AWS ElastiCache
REDIS_HOST=clustercfg.testai3a-redis-dev.gcvryk.use1.cache.amazonaws.com
REDIS_PORT=6379

# # Postgres
# POSTGRES_HOST=localhost
# POSTGRES_DB=agentdb
# POSTGRES_USER=agent
# POSTGRES_PASSWORD=secret
