MODEL_ROUTER_URL=http://localhost:8000   # model router port

# Redis - AWS ElastiCache
REDIS_URL=redis://your-cluster.xxxxx.cache.amazonaws.com:6379
# clustercfg.testai3a-redis-dev.gcvryk.use1.cache.amazonaws.com
# # Postgres
# POSTGRES_HOST=localhost
# POSTGRES_DB=agentdb
# POSTGRES_USER=agent
# POSTGRES_PASSWORD=secret


export REDIS_HOST=localhost
# export POSTGRES_HOST=localhost
# export POSTGRES_DB=agentdb
# export POSTGRES_USER=agent
# export POSTGRES_PASSWORD=secret

