# Model Router Configuration
MODEL_ROUTER_URL=http://127.0.0.1:8000

# Redis - AWS ElastiCache
REDIS_HOST=cxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxe.amazonaws.com
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here

# Agent Framework - Options: langgraph (default), crewai
FRAMEWORK=langgraph

# # Postgres
# POSTGRES_HOST=localhost
# POSTGRES_DB=agentdb
# POSTGRES_USER=agent
# POSTGRES_PASSWORD=secret
## Exporting


# export MODEL_ROUTER_URL=http://127.0.0.1:8000
# export REDIS_HOST=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx.amazonaws.com
# export REDIS_PORT=6379
# export REDIS_PASSWORD=xxxxxxxxxxxxxxxxxxx
# export FRAMEWORK=langgraph